@use '../../utils' as *;

/*----------------------------------------*/
/*  4.1 Main menu css
/*----------------------------------------*/

.#{$theme-prefix}-main-menu{
    position: relative;
    &-area{ }
    &-content{
        &-2{
            display: flex;
            justify-content: center;
        }
    }
    & ul{
        & li{
            position: relative;
            list-style: none;
            display: inline-block;
            transition: none;
            margin-right: 20px;
            &:not(:last-of-type){
                margin-right: 20px;
                @media #{$xl} {
                    margin-right: 15px;
                }
            }
            & a{
                display: inline-block;
                font-family: var(--tp-ff-p);
                padding: 34px 0 21px 0;
                font-weight: 600;
                font-size: 16px;
                text-transform: capitalize;
                color: var(--tp-heading-primary);
            }
			&.has-dropdown{
				& > a{
                    position: relative;
                    &::after{
                        content: "\f107";
                        font-size: 12px;
                        color: var(--tp-theme-secondary);
                        font-family: var(--tp-ff-fontawesome);
                        font-weight: 900;
                        margin-left: 6px;
                        display: inline-block;
                        @include transition();
                    }
                }
			}
			& .submenu{
                position: absolute;
                top: 105%;
                left: 0;
                width: 200px;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                padding: 10px 0 20px 0;
                background: var(--tp-common-white);
                box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
                border-radius: 0 0 5px 5px;
                @include transition();
                & li{
                    display: block;
                    width: 100%;
					margin: 0;
                    padding: 0 25px;
                    transform: translateY(5px);
                    transition: all .2s cubic-bezier(.4, .28, .31, 1.28) 0s;
                    &:not(:last-of-type){
                        margin-bottom: 9px;
                    }
                    &.has-dropdown{
                        & > a{
                            &::after{
								position: absolute;
								top: 50%;
                                right: 25px;
                                @include transform(translateY(-50%) rotate(-90deg));
                            }
                        }
                    }
                    &:last-child{
                        & a{
                            border-bottom: 0;
                        }
                    }
                    & a{
                        position: relative;
                        padding: 0;
                        font-size: 14px;
						color: var(--tp-common-black);
						width: 100%;
                        z-index: 1;
                        & span{
                            transition: all .3s ease-in-out;
                            &::after{
                                display: none;
                            }
                        }

                        &::before{
                            position: absolute;
                            content: "";
                            top: 12PX;
                            left: 0px;
                            height: 2px;
                            width: 0;
                            background: var(--tp-theme-primary);
                            transition: all .3s ease-in-out;
                        }
                    }
                    & .submenu{
                        left: 120%;
                        top:0;
                        visibility: hidden;
                        opacity: 0;
                    }
                    &:hover{
                        & > a{
                            color: var(--tp-theme-primary);
                            & span{
                            margin-left: 14px;
                            }
                           
                            &::after{
                                color: var(--tp-common-white);
                            }
                            &::before{
                                width: 10px;
                            }
                            
                        }
                        & > .submenu{
                            left: 100%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            &:hover{
				& > a{
					color: var(--tp-theme-primary);
                    &::after{
                        color: var(--tp-theme-primary);
                    }
				}
				& .submenu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
				}
			}


            & .has-homemenu {
                width: 810px;
                padding: 30px 30px 10px 30px;
                opacity: 0;
                visibility: hidden;
                background-color: var(--tp-common-white);
                box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

                & .homemenu {
                    position: relative;
                    padding: 0px 10px;
                    margin-bottom: 20px;
                    &-thumb{
                        position: relative;
                        &::before{
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background: var(--tp-gradient-primary);
                            opacity: 0;
                            @include transition();
                        }
                        &:hover{
                            & .homemenu-btn {
                                opacity: 1;
                                visibility: visible;
                                & .menu-btn{
                                    &.show{
                                        &-1{
                                            top: 42%;
                                            transform: translateY(-42px);
                                        }
                                        &-2{
                                            top: 30%;
                                            transform: translateY(-30px);
                                        }
                                    }
                                }
                              }
                              &::before{
                                opacity: 0.2;
                              }
                        }
                    }
                    &-title{
                        & a{
                            padding: 0;
                            font-size: 16px;
                            font-weight: 600;
                            &:hover{
                                color: var(--tp-theme-primary);
                            }
                        }
                    }
                    &-btn{
                        position: absolute;
                        bottom: 16%;
                        left: 0;
                        right: 0;
                        opacity: 0;
                        text-align: center;
                        visibility: hidden;
                        @include transition();
                        & .menu-btn {
                            font-size: 14px;
                            text-transform: uppercase;
                            padding: 10px 20px;
                            border-radius: 5px;
                            width: 128px;
                            background-size: 200% auto;
                            color: var(--tp-common-white);
                            background-image: var(--tp-gradient-primary);
                            overflow: hidden;
                            &:hover{
                                background-position: right center;
                            }
                        }
                    }
                  }
              }
        }
    }

    &.home-2{
        & ul{
            & li{
                & a{
                    padding: 36px 0 36px 0;
                }
            }
        }
    }
    &.home-3{
        padding-left: 36px;
        @media #{$xxl} {
            padding-left: 20px;
            margin-right: -70px;
        }
        @media #{$xl} {
            padding-left: 15px;
        }
        @media #{$lg,$md,$sm,$xs} {
            padding-left: 0;
        }
        & ul{
            & li{
                & a{
                    padding: 41px 0 41px 0;
                }
            }
        }
    }
}
