@use '../../utils' as *;

/*----------------------------------------*/
/*  7.5 counter css
/*----------------------------------------*/

.#{$theme-prefix}-counter{
    $self : &;
    &-bg{
        &::after{
            position: absolute;
            content: "";
            height: 100%;
            width: 85%;
            top: 0;
            left: 0;
            box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
            background: var(--tp-gradient-primary);
            z-index: -1;
            @media #{$x4l} {
                width: 87%;
            }
            @media #{$x3l} {
                width: 90%;
            }
            @media #{$xxl} {
                width: 95%;
            }
            @media #{$xl} {
                width: 96%;
            }
            @media #{$lg,$md,$sm,$xs} {
                width: 100%;
            }
        }
    }
    &-overlay{
        &::before{
            position: absolute;
            content: "";
            height: 50%;
            width: 100%;
            bottom: 0;
            left: 0;
            background: #F4F5FA;
            z-index: -2;
        }
    }
    &-shape{
        & .shape-1{
            position: absolute;
            top: 30px;
            left: 30px;
        }
        & .shape-2{
            position: absolute;
            left: 8%;
            bottom: 20px;
        }
        & .shape-3{
            position: absolute;
            right: 17%;
            top: 20px;
        }
        & .shape-4{
            position: absolute;
            right: 15%;
            bottom: 20px;
        }
    }
    &-wrapper{}
    &-icon{
        & span{
            height: 80px;
            width: 80px;
            display: inline-block;
            line-height: 80px;
            text-align: center;
            border-radius: 50%;
            margin-right: 20px;
            background: rgba($color: #ffff, $alpha: 0.1);
            @media #{$lg} {
                margin-right: 10px;
            }
        }
    }
    &-content{
        & p{
            color: var(--tp-common-white);
            @media #{$lg} {
                font-size: 13px;
            }
        }
    }
    &-title{
        font-weight: 600;
        font-size: 48px;
        letter-spacing: -1.92px;
        color: var(--tp-common-white);
        margin-bottom: 0;
    }




    &-area-2{}
    &-bg-shape-2{
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        @media #{$lg} {
            top: 45px;
        }
        @media #{$md,$sm,$xs} {
            display: none;
        }
        & img{
            width: 100%;
        }
    }
    &-item-2{
        position: relative;
        &-icon{
            & span{
                display: inline-block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                background: var(--tp-gradient-primary);
                border-radius: 5px;
                margin-bottom: 28px;
            }
        }
        & p{
            color: var(--tp-common-white);
        }
    }
    &-title-2{
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -1.92px;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--tp-common-white);
    }
}