@use '../../utils' as *;

/*----------------------------------------*/
/*  7.7 faq css
/*----------------------------------------*/

.#{$theme-prefix}-faq{
    $self : &;
    &-area{}
    &-bg{
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 73%;
            z-index: -1;
            background: var(--tp-gradient-primary);
            @media #{$lg} {
                height: 85%;
            }
          }
    }
    &-wrapper{
        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }
    &-title{
        &-wrapper{
            padding-right: 42px;
            @media #{$lg,$md,$sm,$xs} {
                padding-right: 0;
            }
            & .tp-section-title{
                color: var(--tp-common-white);
                &-pre{
                    color: var(--tp-common-white);
                    -webkit-text-fill-color: white;
                }
            }
            & p{
                color: var(--tp-common-white);
                margin-bottom: 30px;
            }
        }
    }
    &-counter{
        border-radius: 10px;
        background: var(--tp-common-white);
        padding: 16px 21px;
        &-wrapper{
            @media #{$lg,$xs} {
                flex-wrap: wrap;
            }
        }
        &-icon{
            & span{
                width: 55px;
                height: 55px;
                display: inline-block;
                text-align: center;
                line-height: 55px;
                background: var(--tp-gradient-primary);
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        &-content{
            & p{
                font-family: var(--tp-ff-heading);
                font-weight: 500;
                font-size: 20px;
                letter-spacing: -0.8px;
                color: var(--tp-heading-primary);
                margin-bottom: 0;
            }
        }
        &-title{
            font-weight: 700;
            font-size: 27px;
            letter-spacing: -0.54px;
            color: var(--tp-heading-primary);
            margin-bottom: 0;
        }
    }
    &-tab{
        &-content {
            background: var(--tp-common-white);
            box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
            border-radius: 5px;
            padding: 80px 60px 57px;
            @media #{$lg,$sm} {
                padding: 50px 30px 50px;
            }
            @media #{$xs} {
                padding: 40px 20px 40px;
            }
          }
    }
}

.#{$theme-prefix}-erorr {
    &-wrap {
        position: relative;
        padding-top: 190px;
        padding-bottom: 232px;
        z-index: 1;
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: luminosity;
        z-index: -2;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #0f0d1d, $alpha: 0.25);
            background-color: rgb(15, 13, 29);
            z-index: -4;
            opacity: .25;
            mix-blend-mode: darken;
        }
    }
    &-title {
        font-size: 200px;
        margin-bottom: 0;
        color: transparent;
        -webkit-text-stroke: 3px var(--tp-common-white);
        @media #{$xs} {
            font-size: 135px;
        }
        & span {
            color: var(--tp-common-white);
        }
    }
    &-content {
        & > span {
            font-size: 36px;
            color: var(--tp-common-white);
            font-weight: 700;
            margin-bottom: 22px;
            display: inline-block;
        }
        & p {
            color: #aea8b9;
            font-size: 16px;
            margin-bottom: 45px;
        }
        & .tp-btn {
            &:hover {
                color: var(--tp-theme-4);
            }
            &::before {
                background: var(--tp-common-white);
            }
        }
    }
}
