@use '../../utils' as *;

/*----------------------------------------*/
/*  7.9 process css
/*----------------------------------------*/

.#{$theme-prefix}-process{
    $self  : &;
    &-area{
        @media #{$sm,$xs} {
            padding-top: 90px;
            padding-bottom: 90px;
        }
    }
    &-wrapper{
        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }
    &-item{
        margin-bottom: 35px;
        @media #{$xs} {
            flex-wrap: wrap;
        }
        &-icon{
            padding-right: 40px;
            padding-left: 30px;
            padding-top: 24px;
            padding-bottom: 24px;
            border-left: 2px solid #E3E3E3;
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
        &-content{}
        &-title{
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.96px;
            color: var(--tp-heading-primary);
            margin-bottom: 10px;
        }
    }
    &-thumb{
        & .main{
            position: relative;
            overflow: hidden;
            &::after{
                position: absolute;
                top: 0;
                left: -100%;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
                z-index: 1;
            }
        }
        &:hover{
            & .main{
                &::after{
                    animation: shine 1.5s;
                }
            }
        }
        & img{
            position: relative;
            z-index: 1;
            @media #{$xs} {
                max-width: 100%;
            }
        }
        & .shape-1{
            position: absolute;
            right: 0;
            bottom: -82%;
            z-index: 0;
            @media #{$lg} {
                bottom: -100%;
                max-width: 100%;
            }
            @media #{$md} {
                bottom: -47%;
            }
            @media #{$sm,$xs} {
                display: none;
            }
        }
    }
    &-counter{
        position: relative;
        bottom: -155px;
        left: 0;
        background: var(--tp-common-white);
        box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
        border-radius: 80px;
        width: 268px;
        padding: 12px 12px 10px;
        animation: updown-two 2s linear 0s infinite alternate;
        @media #{$md,$sm,$xs} {
            bottom: -20px;
        }
        &-icon{
            & span{
                width: 63px;
                height: 63px;
                line-height: 63px;
                text-align: center;
                display: inline-block;
                background: #D8E5EB;
                border-radius: 50%;
                margin-right: 12px;
                & i{
                    font-size: 32px;
                    font-style: normal;
                    @include textGradient();
                }
            }
        }
        &-title{
            font-family: var(--tp-ff-p);
            color: var(--tp-heading-primary);
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -0.8px;
            margin-bottom: 0;
        }
    }

    &-trusted {
        position: absolute;
        top: 50px;
        right: 95px;
        width: 202px;
        height: 202px;
        border-radius: 50%;
        background: var(--tp-gradient-primary);
        line-height: 202px;
        display: inline-block;
        padding-top: 70px;
        z-index: 2;
        @media #{$md} {
            top: 0;
        }
        @media #{$xs} {
            right: 0;
        }
        &::before{
            position: absolute;
            content: "";
            top: 14px;
            left: 14px;
            height: 173px;
            width: 173px;
            border: 1px #fff dashed;
            border-radius: 50%;
            animation: tp-spin 10s ease infinite;
        }
        & p{
            font-size: 18px;
            font-weight: 600;
            color: var(--tp-common-white);
            line-height: 1.2;
            & span{
                font-size: 45px;
                font-weight: 700;
            }
        }
      }



    &-area-2{}
    &-item{
        &-2{}
        &-icon-2{
            margin-bottom: 40px;
            & span{
                position: relative;
                height: 80px;
                width: 80px;
                display: inline-block;
                line-height: 80px;
                text-align: center;
                border-radius: 5px;
                background: var(--tp-common-gray);
                & i{
                    position: absolute;
                    color: var(--tp-common-white);
                    background: var(--tp-gradient-primary);
                    font-style: normal;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 5px;
                    left: -8px;
                    top: -13px;
                }
            }
        }
        &-content-2{
            & p{
                color: var(--tp-text-1);
            }
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.96px;
        margin-bottom: 20px;
    }
    &-arrows{
        & .shape-1{
            position: absolute;
            left: 18%;
            top: 25px;
            @media #{$lg,$md,$sm,$xs} {
                display: none;
            }
        }
        & .shape-2{
            position: absolute;
            left: 44%;
            top: 25px;
            @media #{$lg,$md,$sm,$xs} {
                display: none;
            }
        }
        & .shape-3{
            position: absolute;
            right: 18%;
            top: 25px;
            @media #{$lg,$md,$sm,$xs} {
                display: none;
            }
        }
    }




    &-area-3{}
    &-wrapper-3{}
    &-item-3{
        background: var(--tp-common-gray);
        border-radius: 900px;
        padding: 40px;
        @media #{$xl} {
            padding: 25px;
            border-radius: 50%;
        }
        @media #{$lg} {
            padding: 55px;
        }
        @media #{$md} {
            padding: 15px;
            border-radius: 50%;
        }
        @media #{$sm} {
            padding: 80px;
            border-radius: 50%;
        }
        @media #{$xs} {
            padding: 20px;
            border-radius: 0;
        }
        &-icon{
            & span{
                display: inline-block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                background: var(--tp-gradient-primary);
                border-radius: 5px;
                margin-bottom: 28px;
            }
        }
        & p{
            color: var(--tp-text-1);
            margin-bottom: 56px;
        }
        & b{
            font-family: var(--tp-ff-heading);
            font-weight: 600;
            font-size: 48px;
            display: block;
            letter-spacing: -1.92px;
            color: var(--tp-heading-primary);
            opacity: 0.1;
        }
    }
    &-title-3{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.8px;
        margin-bottom: 20px;
    }
}