@use '../../utils' as *;

/*----------------------------------------*/
/*  8.1 Services css
/*----------------------------------------*/

.#{$theme-prefix}-service{
    $self : &;
    &-area{}
    &-item{
        &-icon{
            & span{
                position: absolute;
                top: -22px;
                right: 38px;
                height: 64px;
                width: 64px;
                display: inline-block;
                line-height: 64px;
                text-align: center;
                border-radius: 5px;
                transition: transform 0.5s ease;
                background-image: var(--tp-gradient-primary);
            }
        }
        &-wrapper{
            background: var(--tp-common-white);
            border-radius: 5px;
            padding: 40px;
            @media #{$lg} {
                padding: 30px;
            }
            @media #{$xs} {
                padding: 25px;
            }
            &:hover{
                & .tp-service-item{
                    &-icon{
                        & span{
                            animation: icon-bounce 0.8s 1;
                        }
                    }
                    &-thumb{
                        & img{
                            transform: scale(1.08);
                        }
                    }
                }
            }
        }
        &-content{
            padding: 22px 0 30px 0;
        }
        &-title{
            color: var(--tp-heading-primary);
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.96px;
            margin-bottom: 10px;
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
        &-thumb{
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            & img{
                border-radius: 5px;
                width: 100%;
                @include transition();
                @media #{$md} {
                    max-width: 100%;
                }
                @media #{$sm} {
                    min-width: 100%;
                }
                @media #{$xs} {
                    max-width: 100%;
                }
            }
        }
    }
    &-title{
        &-wrapper{
            @media #{$md,$sm,$xs} {
                margin-bottom: 0;
            }
        }
    }
    &-nav{
        position: relative;
        @media #{$sm,$xs} {
            display: none;
        }
        & button{
            position: absolute;
            bottom: -100px;
            right: 75px;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            font-size: 16px;
            font-weight: 900;
            color: var(--tp-common-white);
            background: #D8E5EB;
            z-index: 1;
            &:hover{
                & i{
                    background: var(--tp-common-white);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
                &::before{
                    opacity: 1;
                }
            }
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                opacity: 0;
                background-image: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
                z-index: -1;
                @include transition()
            }
            & i{
                background: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
            &.service-button-next-1{
                right: 0;
            }
        }
    }


    &-area{
        &-2{
            @media #{$lg,$md,$sm,$xs} {
                padding-bottom: 0;
            }
        }
    }
    &-item{
        &-2{
            position: relative;
            background: var(--tp-common-white);
            border-radius: 5px;
            box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
            z-index: 1;
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 0;
                bottom: auto;
                top: 0;
                border-radius: 5px;
                background: var(--tp-theme-secondary);
                @include transition();
                z-index: -1;
            }
            @media #{$lg,$md,$sm,$xs} {
                margin-bottom: 140px;
            }
            &:hover{
                &::after{
                    height: 100%;
                    top: auto;
                    bottom: 0;
                }
                #{$self}{
                    &-title-2{
                        color: var(--tp-common-white);
                    }
                    &-content-2{
                        & p{
                            color: var(--tp-common-white);
                        }
                    }
                    &-icon-2{
                        & span{
                            &::before{
                                height: 0;
                            }
                            & img{
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &-thumb-2{
        & img{
            margin-top: -80px;
            border-radius: 5px;
        }
    }
    &-icon-2{
        position: absolute;
        right: 45px;
        top: 25%;
        & span{
            position: relative;
            width: 64px;
            height: 64px;
            line-height: 64px;
            display: inline-block;
            border-radius: 5px;
            text-align: center;
            background: var(--tp-common-white);
            @include transition();
            &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                border-radius: 5px;
                background: var(--tp-gradient-primary);
                @include transition();
            }
            & img{
                filter: brightness(0) invert(1);
                transition: 0.2s linear;
            }
        }
    }
    &-content-2{
        padding: 40px 80px 55px 30px;
        @media #{$xl} {
            padding: 40px 60px 55px 30px;
        }
        @media #{$md,$sm} {
            padding: 40px 28px 55px 30px;
        }
        & p{
            position: relative;
            margin-bottom: 6px;
            &::after{
                position: absolute;
                content: '';
                height: 1px;
                width: 46px;
                top: -8px;
                left: 0;
                background: var(--tp-text-body);
            }
        }
    }
    &-title-2{
        font-weight: 600;
        font-size: 24px;
        text-transform: capitalize;
        line-height: 33.6px;
        letter-spacing: -0.96px;
    }
    &-btn-2{
        & a{
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            width: 50px;
            display: inline-block;
            line-height: 50px;
            border-radius: 50%;
            background: var(--tp-common-white);
            text-align: center;
            box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
            @include transition();
            z-index: 2;
            &:hover{
                & i{
                    animation: tfLeftToRight 0.5s forwards;
                }
            }
            & i{
            @include textGradient();
            }
        }
    }




    &-area-3{
        @media #{$sm,$xs} {
            padding-top: 90px;
        }
    }
    &-item{
        &-wrapper-3{
            background: var(--tp-common-white);
            box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
        }
        &-icon-3{
            margin-bottom: 30px;
        }
        &-content-3{
            padding: 40px;
            @media #{$xl,$lg,$xs} {
                padding: 30px;
            }
            & p{
                color: var(--tp-text-1);
            }
        }
        &-title-3{
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.96px;
            margin-bottom: 25px;
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
        &-number{
            position: absolute;
            top: 55px;
            right: 50px;
            & span{
                display: inline-block;
                font-weight: 600;
                font-size: 75px;
                letter-spacing: -3px;
                color: var(--tp-heading-primary);
                opacity: 0.05;
            }
        }
        &-btn-3{
            & a{
                position: relative;
                display: inline-block;
                width: 100%;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                font-weight: 600;
                color: var(--tp-common-white);
                letter-spacing: 0.8px;
                text-align: center;
                background: var(--tp-heading-primary);
                border-radius: 0px 0px 5px 5px;
                z-index: 1;
                &::after{
                    position: absolute;
                    content: '';
                    height: 0;
                    width: 100%;
                    top: 0;
                    bottom: auto;
                    left: 0;
                    background: var(--tp-gradient-primary);
                    border-radius: 0px 0px 5px 5px;
                    z-index: -1;
                    opacity: 0;
                    @include transition();
                }
                &:hover{
                    &::after{
                        height: 100%;
                        opacity: 1;
                        top: auto;
                        bottom: 0;
                    }
                }
            }
        }
    }



    &-breadcrumb{
        &-area{
            & .tp-service-item-wrapper{
                box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
                @media #{$lg,$md} {
                    margin-bottom: 60px;
                }
                @media #{$xs} {
                    margin-bottom: 40px;
                }
            }
        }
    }




    &-details{
        &-area{}
        &-wrapper{
            & p{
                color: var(--tp-text-1);
                margin-bottom: 24px;
            }
        }
        &-thumb{
            margin-bottom: 40px;
            & img{
                border-radius: 5px;
                width: 100%;
            }
        }
        &-title{
            position: relative;
            font-weight: 600;
            font-size: 48px;
            letter-spacing: -1.92px;
            margin-left: 20px;
            margin-bottom: 15px;
            @media #{$sm} {
                font-size: 40px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            &::before{
                position: absolute;
                content: "";
                height: 42px;
                width: 2px;
                top: 8px;
                left: -20px;
                background: var(--tp-gradient-primary);
                @media #{$xs} {
                    height: 35px;
                    top: 0px;
                    left: -15px;
                }
            }
        }
        &-box{
            margin-top: 66px;
            @media #{$sm,$xs} {
                flex-wrap: wrap;
            }
            @media #{$sm,$xs} {
                margin-bottom: 0;
            }
            &-2{
                @media #{$lg,$sm,$xs} {
                    flex-wrap: wrap;
                }
            }
            &-content{
                @media #{$xl} {
                    margin-right: 20px;
                }
                @media #{$sm,$xs} {
                    margin-right: 0;
                }
            }
            &-thumb{
                & img{
                    border-radius: 5px;
                    @media #{$sm,$xs} {
                        width: 100%;
                    }
                }
            }
        }
        &-item{
            position: relative;
            padding: 60px 30px 16px;
            border-radius: 5px;
            background: #F6F6F9;
            @media #{$lg} {
                padding: 50px 20px 15px;
            }
            @media #{$sm,$xs} {
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
        &-subtitle{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 14px;
            &-2{
                position: relative;
                font-size: 27px;
                font-weight: 700;
                margin-bottom: 35px;
                &::before{
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 42px;
                    bottom: -10px;
                    left: 0px;
                    background: var(--tp-gradient-primary);
                }
            }
        }
        &-icon{
            position: absolute;
            top: -30px;
            right: 30px;
            & img{
                height: 65px;
                width: 65px;
                display: inline-block;
                text-align: center;
                border-radius: 5px;
                padding: 10px;
                background: var(--tp-common-white);
                border: 1px solid var(--tp-theme-primary);
            }
        }

        &-quote{
            background: var(--tp-common-white);
            box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
            padding: 40px;
            @media #{$md,$sm,$xs} {
                margin-bottom: 50px;
            }
            @media #{$sm} {
                padding: 30px;
            }
            @media #{$xs} {
                padding: 20px;
            }
            & span{
                font-family: var(--tp-ff-heading);
                font-weight: 500;
                font-size: 20px;
                letter-spacing: -0.8px;
                color: var(--tp-text-1);
            }
        }
    }



    &-widget{
        &-item{
            background: var(--tp-common-white);
            box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
            padding: 30px;
            border-radius: 5px;
        }
        &-tab{
            & ul{
                & li{
                    list-style: none;
                    margin-bottom: 10px;
                    &.active{
                        & a{
                            position: relative;
                            background: rgba($color: #00A3C3, $alpha: 0.1);
                            color: var(--tp-theme-primary);
                            &::before{
                                position: absolute;
                                content: "";
                                height: 42px;
                                width: 2px;
                                top: 0px;
                                left: -30px;
                                background: var(--tp-gradient-primary);
                                opacity: 1;
                                @include transition();
                            }
                        }
                    }
                    & a{
                        position: relative;
                        font-family: var(--tp-ff-p);
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 5px;
                        display: inline-block;
                        width: 100%;
                        padding: 8px 16px;
                        color: var(--tp-text-1);
                        background: #F6F6F9;
                        &::before{
                            position: absolute;
                            content: "";
                            height: 0px;
                            width: 2px;
                            top: 0px;
                            left: -30px;
                            background: var(--tp-gradient-primary);
                            opacity: 0;
                            @include transition();
                        }
                        &:hover{
                            background: rgba($color: #00A3C3, $alpha: 0.1);
                            color: var(--tp-theme-primary);
                            &::before{
                                opacity: 1;
                                height: 42px;
                            }
                        }
                    }
                }
            }
        }
        &-title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 22px;
        }

        &-contact{
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            &-content{
                position: relative;
                padding-top: 120px;
                padding-bottom: 120px;
                @media #{$lg} {
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.8;
                    background: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
                    border-radius: 5px;
                    z-index: 0;
                }
                & p{
                    color: var(--tp-common-white);
                    margin-bottom: 10px;
                    position: relative;
                    z-index: 1;
                }
                & a{
                    font-family: var(--tp-ff-heading);
                    font-weight: 700;
                    font-size: 27px;
                    letter-spacing: -0.54px;
                    color: var(--tp-common-white);
                    position: relative;
                    z-index: 1;
                }
            }
            &-icon{
                margin-bottom: 40px;
                & span{
                    position: relative;
                    font-size: 20px;
                    font-weight: 900;
                    height: 47px;
                    width: 47px;
                    line-height: 47px;
                    display: inline-block;
                    text-align: center;
                    background: var(--tp-common-white);
                    border-radius: 50%;
                    z-index: 1;

                    &::after{
                        position: absolute;
                        content: '';
                        top: -10px;
                        left: -10px;
                        height: 67px;
                        width: 67px;
                        border-radius: 50%;
                        opacity: 0.5;
                        z-index: -1;
                        background: var(--tp-common-white);
                    }
                    & i{
                        @include textGradient();
                    }
                }
            }
        }

        &-download{
            & span{
                position: relative;
                font-family: var(--tp-heading-primary);
                font-weight: 500;
                font-size: 20px;
                border-radius: 5px;
                width: 100%;
                padding: 17px 30px 17px 44px;
                display: flex;
                justify-content: space-between;
                background: #F6F6F9;
                &::before{
                    position: absolute;
                    content: "";
                    height: 28px;
                    width: 2px;
                    top: 15px;
                    left: 0px;
                    background: var(--tp-gradient-primary);
                }
            }
        }


        &-list{
            background: var(--tp-common-white);
            box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
            border-radius: 5px;
            padding: 36px 30px;
            &-content{
                & ul{
                    & li{
                        position: relative;
                        font-family: var(--tp-ff-p);
                        list-style: none;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        margin-left: 30px;
                        & i{
                            position: absolute;
                            top: 5px;
                            left: -30px;
                            font-size: 16px;
                            @include textGradient();
                        }
                    }
                }
            }
        }
    }
}